.clear {
  clear: both;
}

body {
  height: 100%;
}

#page {
  background: #EEE none repeat scroll 0 0;
  border: 1px solid black;
  margin-top: 20px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-radius-topleft: 8px;
  -webkit-border-radius-topright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomright: 8px;
}

#page #site-header {
  background: none repeat scroll 0 0 #8CA8E6;
  height: 60px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-radius-topleft: 8px;
  -webkit-border-radius-topright: 8px;
  margin-bottom: 0px;
}

#page #site-header #branding {
  background: #3364CA none repeat scroll 0 0;
  width: 500px;
  height: 60px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-radius-topleft: 8px;
}

#page #site-header #branding img {
  width: 500px;
  height: 60px;
  padding-left: 8px;
}


#page #site-menu ul {
  background: #003399 none repeat scroll 0 0;
  padding-left: 17.5em;
}

#page #site-menu ul {
  background: #003399 none repeat scroll 0 0;
  padding-top: 0.5em;
  padding-left: 232px;
}

#page #site-menu li {
  display: inline;
  padding-left: 1em;
  color: #FFF;
  font-weight: bold;
}

#page #site-menu li a {
  color: #FFF;
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
  padding-right: 1em;
}

#page #site-menu li a:hover {
  text-decoration: underline;
}

#page #site-menu #block-menu_block-2 {
  margin-bottom: 0px;
}

#page #main .tabs {
  background: #FFF none repeat scroll 0 0;
  padding-top: 2px;
}

#page #left {
  padding-left: 10px;
  padding-right: 10px;
}

#main-content {
  border-left: 1px solid #AAA;
  background: #FFF none repeat scroll 0 0;
  width: 699px;
  display: inline;
  float: left;
  padding: 10px;
  min-height: 500px;
}

#main-content .imagecache-static_pages_image {
  margin: 10px;
  margin-left: 15px;
}

#main-content .imagecache-static_pages_image {
  display: inline-block;
  border: solid 1px #000;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
}

#page #footer {
  background: #8CA8E6 none repeat scroll 0 0;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomright: 8px;
  padding: 0.5em 1em 0.5em 1em;
  border-top: 1px solid #000;
}

/* Contact page */
#page #main #edit-name-wrapper {
  border-top: 1px solid #AAA;
  padding-top: 20px;
}

#page #main .number {
  padding-left: 20px;
}

/* News pages */
#page #main-content .field-field-teaser {
  margin-bottom: 15px;
  font-weight: bold;
}

#main-content .view-News .views-row {
  margin-bottom: 25px;
}

#main-content .view-News .views-row .views-field-created {
  float: left;
  margin-right: 5px;
  background-color: #003399;
  color: white;
  padding: 0 4px 0 4px;
}

#main #left #block-views-News-block_1 {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  width: 220px;
  position: relative;
  left: -10px;
  background-color: white;
  padding: 10px;
}

#main #left #block-views-News-block_1 .views-row {
  margin-bottom: 12px;
}

#main #left #block-views-News-block_1 .views-field-title h3 {
  font-size: 14px;
}

#main #left #block-views-News-block_1 .views-field-created {
  color: #888;
  font-size: 12px;
  float: left;
  margin-right: 5px;
}