.clear {
  clear: both;
}

.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  background: #ecece9 url('../images/back-body.jpg') left top repeat;
}

/* ----- / Header ----- */
#header {
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px 8px 0;
  width: 924px;
}

#header p {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 38px;
  left: 230px;
}

#logo {
  float: left;
}

/* ----- / Menus ----- */
#header .menu {
  float: right;
  text-transform: uppercase;
}

#header .menu li {
  margin: 0 0 0 4px;
  padding: 0;
}

#region-main-menu .menu>li,
#region-secondary-menu .menu>li {
  float: left;
  list-style: none;
}

/* ----- / Secondary Menu ----- */
#region-secondary-menu {
  font-size: 11px;
  margin-right: -6px;
}

#region-secondary-menu a {
  padding: 6px;
}

/* ----- / Main Menu ----- */
#region-main-menu {
  padding: 30px 0 0;
  clear: right;
  margin-right: -8px;
}

#region-main-menu .menu a {
  text-transform: uppercase;
  font-size: 14px;
}

#region-main-menu a {
  padding: 8px;
}

/* ----- / Sidebar menu ----- */

.menu-sidebar {
  padding: 22px 0 0;
  background: transparent url(../images/back-sidebarmenu-top.png) left top no-repeat;
  position: relative;
}

.menu-sidebar .pane-content {
  padding: 0 0 26px;
  background: transparent url(../images/back-sidebarmenu-bottom.png) left bottom no-repeat;
}

.menu-sidebar ul.menu {
  padding: 0;
  margin: 0;
  background: transparent url(../images/back-sidebarmenu.png) left top repeat-y;
}

.menu-sidebar .menu>li {
  list-style: none none outside;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

.menu-sidebar .menu>li a {
  background: transparent url(../images/back-sidebarmenu-default.png) left top repeat-x;
}

.menu-sidebar .menu>li.active-trail a:link,
.menu-sidebar .menu>li.active-trail a:visited,
.menu-sidebar .menu>li a:hover {
  background: transparent url(../images/back-sidebarmenu-active.png) left top no-repeat;
}

.menu-sidebar .menu>li>a {
  display: block;
  padding: 4px 10px 2px;
  line-height: 26px;
  height: 26px;
}

/* ----- / Content ----- */
#main-content>.tabs {
  clear: both;
}

.page-title,
#main-content>h1 {
  padding: 0 8px;
}

.panel-col-right .content,
.panel-col-left .content {
  padding: 0 8px;
}

.grid-9.panel-col-left .content {
  padding-right: 88px;
}

/* ----- / News ----- */
#main-content .news-listing .view-content ul {
  clear: both;
}

#main-content .news-listing .view-content ul li {
  list-style: none;
  padding: 0 8px 25px;
  width: 284px;
}

#main-content a.imagecache-news_listing {
  margin: 8px 0 0;
  display: block;
}

#main-content a.imagecache-news_listing:hover {
  opacity: 0.7;
}

.view-content .post-date {
  background: transparent url(../images/back-sidebarmenu-default.png) left top repeat-x;
  padding: 5px 8px 3px;
  margin: 4px -8px 0;
  color: #555;
}

.view-content .post-date + .teaser {
  background: transparent url(../images/back-sidebarmenu-default.png) left top repeat-x;
  padding: 8px;
  margin: 0 -8px; 
}

.meta .submitted {
  background: transparent url(../images/back-sidebarmenu-default.png) left top repeat-x;
  padding: 5px 8px 3px;
  margin: 4px 0 0;
  color: #555;
  display: block;
}

.meta + .content {
  background: transparent url(../images/back-sidebarmenu-default.png) left top repeat-x;
  padding: 16px 8px;
}

/* ----- / Pagers ----- */


.news-listing ul.pager {
}


.item-list .pager {
  margin: 0;
  padding: 0 8px;
  clear: both;
}


.item-list .pager li {
  float: left;
  padding: 0 8px 0 0;
  margin: 0;
}

/*
.item-list ul.pager li {
  background: transparent url(../images/back-pager.png) left top repeat-x;
}



.item-list .pager a {
  display: inline-block;
  text-align: center;
  line-height: 34px;
  height: 34px;
  padding: 0 0 0 14px;
  text-decoration: none;
  background: transparent url(../images/back-pager-default.png) left top repeat-y;
}


.item-list .pager .pager-current {
  text-align: center;
  line-height: 34px;
  height: 34px;
  background: transparent url(../images/back-pager-default.png) left top repeat-y;
}

.item-list ul.pager li.first {
  background: transparent url(../images/back-pager-first.png) left top no-repeat;
  padding-left: 16px;
}

.item-list .pager .first a{
  background: none;
}


.item-list ul.pager li.last {
  background: transparent url(../images/back-pager-last.png) right top no-repeat;
  padding-right: 16px;
}
*/


.item-list .pager a,
.item-list .pager-current {
  display: inline-block;
  text-align: center;
  line-height: 31px;
  min-width: 32px;
  height: 32px;
  padding: 0 16px;
  background: transparent url() center center no-repeat; 
  background: rgba(0,0,0,0.15);
/*
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
*/
  text-decoration: none;
}

.item-list .pager a:hover {
  background: transparent url() center center no-repeat; 
  background: rgba(24,141,220,0.6);}

.item-list .pager-item a {
  padding: 0;
}

.item-list li.pager-current {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); 
  background: #188DDC;
  background: rgba(24,141,220,0.8);
  margin-right: 8px;
  padding: 0;

/*
  background: #777;
  background: rgba(0,0,0,0.2);
  -moz-border-radius: 16px;
  border-radius: 16px; 
  text-align: center;
  line-height: 32px;
  min-width: 32px;
  height: 32px;
  padding: 0 16px;
*/
}

/* ----- / Content Images ----- */
.field-field-content img,
img.imagecache-news_listing,
.album-thumb .field-item {
/*   border: 1px solid #ccc; -> Flyt til lt ie 9 stylesheet */ 
  padding: 8px;
  background: #fff;
  background: rgba(255,255,255,0.7);
  margin-bottom: 8px;
  -moz-box-shadow: 0px 1px 2px #aaaaaa;
  -o-box-shadow: 0px 1px 2px #aaaaaa;
  -webkit-box-shadow: 0px 1px 2px #aaaaaa;
  box-shadow: 0px 1px 2px #aaaaaa;
}

.field-field-content img[style*="float: left;"] {
 margin-right: 16px;
}

.field-field-content img[style*="float: right;"] {
 margin-left: 16px;
}

/* ----- / Slideshow ----- */
#main-content .view-frontpage-slider {
  position: relative;
}

#main-content .view-frontpage-slider h2 {
  position: absolute;
  top: 191px;
  padding: 14px 145px 0 15px;
  z-index: 10;
  width: 455px;
  height: 100px;
  background: transparent url(../images/back-slider-title.png) left top repeat;
  background: rgba(12,79,136,0.7);
}

#main-content .view-frontpage-slider .slideshow-description {
  position: absolute;
  height: 100px;
  width: 600px;
  top: 233px;
  width: 455px;
  padding: 10px 0 0 15px;
  z-index: 20;
}

#views_slideshow_singleframe_playpause_frontpage_slider-panel_pane_1 {
  display: none;
}

#views_slideshow_singleframe_prev_frontpage_slider-panel_pane_1 {
  display: block;
  width: 43px;
  height: 43px;
  text-indent: -999em;
  overflow: hidden;
  background: transparent url(../images/graphic-slider-prev.png) left top no-repeat;
  position: absolute;
  z-index: 30;
  top: 204px;
  left: 482px;
  opacity: 0.8;
}

#views_slideshow_singleframe_next_frontpage_slider-panel_pane_1 {
  display: block;
  width: 43px;
  height: 43px;
  text-indent: -999em;
  overflow: hidden;
  background: transparent url(../images/graphic-slider-next.png) left top no-repeat;
  position: absolute;
  z-index: 30;
  top: 204px;
  left: 542px;
  opacity: 0.8;
  }

.views-slideshow-controls-bottom {
  padding-top: 8px;
}

.views_slideshow_singleframe_pager {
  text-align: center;
}

#views_slideshow_singleframe_next_frontpage_slider-panel_pane_1:hover,
#views_slideshow_singleframe_prev_frontpage_slider-panel_pane_1:hover {
  opacity: 1;
}

.views_slideshow_singleframe_pager .pager-item a {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  background: transparent url(../images/graphic-slider-dots-default.png) left top no-repeat;
}

.views_slideshow_singleframe_pager .pager-item a:active,
.views_slideshow_singleframe_pager .pager-item a:focus {
  outline: none;
  border: 1px dotted 
}

.views_slideshow_singleframe_pager .activeSlide a {
  background-image: url(../images/graphic-slider-dots-active.png);
}

/* Photo album */
.page-album .view-gallery .col-1 .grid-item {
  padding: 10px 10px 10px 0;
}

.page-album .view-gallery .col-2 .grid-item {
  padding: 10px;
}

.node-type-photo-album .view-gallery .album-thumb {
  width: 620px;
}


.node-type-photo-album .view-gallery .album-thumb .field-item {
  float: left;
  margin: 5px;
}

.node-type-photo-album .field-field-album-description {
  margin-left: 640px;
}

/* ----- / Secondary Content ----- */

#secondary-content {
  padding-top: 68px;
  background: transparent url(../images/back-rise-wide-top.jpg) center top no-repeat;
  float: left;
}

#secondary-content-inner {
  padding-bottom: 50px;
  background: transparent url(../images/back-rise-wide-bottom.jpg) center bottom no-repeat;
  float: left;
}

#secondary-content .block-nodespotbox {
  margin-bottom: 10px;
  min-height: 170px;
  padding: 0 8px;
}


/* ----- / Personale ----- */
/* ----------------------- */

.page-personale .view-Personale li {
  list-style: none;
  margin: 0;
  clear: left;
}

.page-personale .view-Personale li h2 {
  padding-top: 20px;
}

.page-personale .view-Personale .profile-picture {
  float: left;
}

.page-personale .view-Personale .profile-content {
  margin-left: 220px;
}

/* ----- / Footer ----- */
#footer-outer {
  background: #dedfdc url('../images/back-body-footer.png') left top repeat;
  padding-top: 40px;
  margin-top: 40px;
}

#footer {
  background-image: url('../images/compass_rose.png');
  background-repeat: no-repeat;
  background-position: 520px 100%;
  height: 380px;
}

#footer .block {
  min-height: 250px;
}

#footer .block h2 {
  font-size: 18px;
  padding: 8px 8px 0;
}

#footer .block .content {
  padding: 8px;
}
