.clear {
  clear: both;
}

/* Header*/
#header {
  clear: both;
  position: relative;
}

#header p {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 38px;
  left: 230px;
}

/* Menus */
#region-main-menu {
  padding: 10px 0 10px 0;
}

#region-secondary-menu,
#region-main-menu {
  clear: both;
}

#page .menu-name-secondary-links {  
  width: 100%;
}

#region-secondary-menu .menu-name-secondary-links ul {
  float: right;
}

#region-main-menu .menu-name-primary-links ul li,
#region-secondary-menu .menu-name-secondary-links ul li {
  float: left;
  list-style: none;
}

/* News */
#main-content .news-listing .view-content ul {
  clear: both;
}

#main-content .news-listing .view-content ul li {
  width: 280px;
  list-style: none;
  float: left;
  padding-bottom: 25px;
}

#main-content .news-listing ul.pager {
  float: right;
}

/* Content */

/* Photo album */
.page-album .view-gallery .col-1 .grid-item {
  padding: 10px 10px 10px 0;
}

.page-album .view-gallery .col-2 .grid-item {
  padding: 10px;
}

.node-type-photo-album .view-gallery .album-thumb {
  width: 620px;
}

.node-type-photo-album .view-gallery .album-thumb img {
  border: 1px solid #000;
}

.node-type-photo-album .view-gallery .album-thumb .field-item {
  float: left;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #000;
  margin: 5px;
}

.node-type-photo-album .field-field-album-description {
  margin-left: 640px;
}

/* Personale */
.page-personale .view-Personale li {
  list-style: none;
  margin: 0;
  clear: left;
}

.page-personale .view-Personale li h2 {
  padding-top: 20px;
}

.page-personale .view-Personale .profile-picture {
  float: left;
}

.page-personale .view-Personale .profile-content {
  margin-left: 220px;
}

/* Footer */
#footer .block {
  background-color: #eee;
  min-height: 250px;
  border: 1px solid black;
}

#footer .block h2 {
  font-size: 18px;
  padding: 10px 10px 0 10px;
}

#footer .block .content {
  padding: 10px;
}