
body {
  font-family: Arial, helvetica,sans-serif;
  font-size: 14px;
}

#main-content h1,
#main .content h1 {
  font-size: 28px;
  margin-bottom: 0px;
  color: #003399;
}

#main-content h2,
#main .content h2 {
  font-size: 20px;
  margin-bottom: 0px;
  color: #003399;
}

#main-content h3,
#main .content h3 {
  font-size: 16px;
  margin-bottom: 0px;
  color: #003399;
}

#main-content p,
#main .content p {
  margin-bottom: 0.5em;
}

#main .content ol,
#main .content ul {
  padding-left: 30px;
}

#main-content .content ul li {  
  list-style-type: disc;
}

/* Personal page*/
#main-content .view-Personale .views-row {
  margin-bottom: 40px;
  clear: both;
}

#main-content .view-Personale ul {
  padding-left: 0px;
}

#main-content .view-Personale ul li {
  list-style: none;
  margin-left: 0px;
}

#main-content .views-field-title {
  font-weight: bold;
}

#main-content .views-label-field-telefon-value {
  font-weight: bold;
}

#main-content .views-label-field-email-email {
  font-weight: bold;
}

#main-content .view-Personale .imagecache-personale_image {
  float: right;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 10px;
}